[default]
LOG_LEVEL=<DEBUG|INFO|ERROR>

# telegram settings
TELEGRAM_TOKEN=<token>
TELEGRAM_CHAT_ID=<chatid>
TELEGRAM_CHAT_URL=https://t.me/joinchat/<id>

# notification message
NOTIFICATION_FRONT_DOOR_MESSAGE=Someone is at the front door
#NOTIFICATION_BACK_DOOR_MESSAGE=Someone is at the back door

# fswebcam settings
FSWEBCAM_BIN=/usr/bin/fswebcam
FSWEBCAM_DEVICE=/dev/video0
FSWEBCAM_RESOLUTION=1280x720
FSWEBCAM_DELAY=2
FSWEBCAM_ROTATE=0
FSWEBCAM_JPG_COMP=90

# Pins numbers in BCM mode
LED_GPIO_BCM=21
BUTTON_GPIO_BCM=20
CHIME_GPIO_BCM=19
IR_CUTOFF_FORWARD_GPIO_BCM=24
IR_CUTOFF_BACKWARD_GPIO_BCM=25
IR_CUTOFF_ENABLER_GPIO_BCM=23

# Number of seconds before button can be pressed again
BUTTON_PRESS_THRESHOLD=5
# Keep the led turned on during the day
BUTTON_LED_ALWAYS_ON=False

# Location of the doorbell. To calculate sunset/sunrise.
ASTRA_CITY=Montreal
# Day Light offset (after sunset, before sunrise). In minutes.
DAY_LIGHT_OFFSET=15
# Cron job interval check (whether it's day or not). In seconds.
DAY_LIGHT_INTERVAL_CHECK=30

# Message Broker
MESSAGE_BROKER_PORT=65432
MESSAGE_BROKER_HOST=127.0.0.1
MESSAGE_BROKER_KEY=aaaaaaa11111

# Amazon Dash button as Backdoor
BACK_DOORBELL_DEVICE_MAC=00:00:00:00:00:00
BACK_DOORBELL_RINGS_NUMBER=2

# MotionEye
USE_MOTION=False
MOTION_EYE_SNAPSHOT_URL=http://1.1.1.1:8765/picture/1/current/

TESTING=False

[dev]
LOG_LEVEL=DEBUG

[test]
TESTING=True
