[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mock = "*"
pytest-env = "*"

[packages]
gpiozero = "*"
python-telegram-bot = "*"
"RPi.GPIO" = "*"
pycparser = "*"
astral = "*"
cryptography = "*"
tornado = "*"
requests = "*"

[requires]
python_version = "3.5"
