[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mock = "*"
pytest-env = "*"

[packages]
gpiozero = "*"
python-telegram-bot = "*"
"RPi.GPIO" = "*"
astral = "*"
requests = "*"
configparser = "*"
flask = "*"
python-dotenv = "*"
peewee = "*"
peewee-migrate = "*"
flask-talisman = "*"
checksumdir = "*"

[requires]
python_version = "3.5"
