<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Raspberry Doorbell Intercom</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link href="{{ url_for('mobile_bp.static', filename='css/app.css') }}?t={{ anticache }}" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
    </head>
    <body>
        <audio id="dial" src="{{ url_for('mobile_bp.static', filename='sounds/phone-ringing.mp3') }}"></audio>
        <div id="container">
            <div id="overlay"></div>
            <div id="message">&nbsp;</div>
            <video playsinline id="remote-video"></video>
            <video id="local-video"></video>
            <div class="button_containers">
                <button class="button" id="btn-call"><i class="fas fa-phone-alt"></i></button>
                <button class="button hide" id="btn-hang-up"><i class="fas fa-times"></i></button>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('mobile_bp.static', filename='js/app.js') }}?t={{ anticache }}"></script>
        <script nonce="{{ csp_nonce() }}">
            let main = new Main({
                'domainName': '{{ domain_name }}',
                'wsPort': {{ webrtc_web_sockets_port }},
                'wsEndpoint': '{{ webrtc_endpoint }}',
                'iceServers': '{{ webrtc_ice_servers | safe }}',
                'webrtcVideoFormat': {{ webrtc_video_format }},
                'webrtcForceHWVideoCodec': {{ webrtc_force_hw_vcodec }},
                'rotate': {{ rotate }},
                'heartbeat_interval': {{ webrtc_call_heartbeat }},
                'strings': '{{ javascript_strings | safe }}',
            });

        </script>
    </body>
</html>
