
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>DoorBell WebRTC</title>
        <script type="text/javascript" src="{{ url_for('mobile_bp.static', filename='app.js') }}?t={{ anticache }}"></script>
        <link href="{{ url_for('mobile_bp.static', filename='app.css') }}?t={{ anticache }}" rel="stylesheet" />

    </head>
    <body>
        <div id="container">
            <div class="overlayWrapper">
                <video id="remote-video" playsinline width="640" height="480">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="overlayWrapper hide">
                <video id="local-video" width="320" height="240">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div id="controls">
            <button type=button class="btn" id="btn-pause" title="pause or resume local player">Pause/Resume</button>
            <button type=button id="btn-mute" class="btn"  title="mute or unmute remote audio source">Mute/Unmute</button>
            <button type=button id="btn-fullscreen" class="btn">Fullscreen</button>
        </div>
        <div id="commands">
            <button id="btn-call">Call!</button>
            <button disabled id="btn-hang-up" class="disabled">Hang up</button>
        </div><br>
        <script nonce="{{ csp_nonce() }}">
            let main = new Main({
                'domainName': '{{ domain_name }}',
                'wsPort': {{ webrtc_web_sockets_port }},
                'wsEndpoint': '{{ webrtc_endpoint }}',
                'iceServers': '{{ webrtc_ice_servers | safe }}',
                'webrtcVideoFormat': {{ webrtc_video_format }},
                'webrtcForceHWVideoCodec': {{ webrtc_force_hw_vcodec }},
                'resolution': '{{ resolution }}',
                'rotate': {{ rotate }},
                'heartbeat_interval': {{ webrtc_call_heartbeat }}
            });
        </script>
    </body>
</html>
