
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>UV4L WebRTC</title>
        {% assets "app_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "app_css" %}
             <link href="{{ ASSET_URL }}" rel="stylesheet" />
        {% endassets %}
    </head>
    <body>
        <h1>
            <span>WebRTC two-way Audio/Video/Data Intercom & Recorder</span>
        </h1>
        <h3 hidden>
            <span>WARNING! Some browsers do not allow to access local media on insecure origins.</span>
            <span>Consider switching the UV4L Streaming Server to secure HTTPS instead.</span>
        </h3>
        <div id="container">
            <div class="overlayWrapper">
                <video id="remote-video" autoplay="" width="640" height="480">
                    Your browser does not support the video tag.
                </video>
                <p class="overlay">remote</p>
            </div>
            <div class="overlayWrapper hide">
                <video id="local-video" autoplay="" width="320" height="240">
                    Your browser does not support the video tag.
                </video>
                <p class="overlay">local</p>
            </div>
        </div>
        <div id="controls">
            <button type=button class="btn" id="btn-pause" title="pause or resume local player">Pause/Resume</button>
            <button type=button id="btn-mute" class="btn"  title="mute or unmute remote audio source">Mute/Unmute</button>
            <button type=button id="btn-fullscreen" class="btn">Fullscreen</button>
        </div>
        <div id="commands">
            <button id="btn-call">Call!</button>
            <button disabled id="btn-hang-up" class="disabled">Hang up</button>
        </div><br>
        <a target="_top" href="/">home</a>&nbsp;<a href="/panel" target="_blank" title="change the image settings on-the-fly">control panel</a>
        <script nonce="{{ csp_nonce() }}">
            let app = new App({
                'domainName': '{{ domain_name }}',
                'wsPort': '{{ webrtc_web_sockets_port }}',
                'wsEndpoint': '{{ webrtc_endpoint }}',
                'iceServers': '{{ webrtc_ice_servers | safe }}',
                'webrtcVideoFormat': '{{ webrtc_video_format }}',
                'webrtcForceHWVideoCodec': {{ webrtc_force_hw_vcodec }},
                'resolution': '{{ resolution }}',
                'rotate': '{{ rotate }}'
            });
        </script>
    </body>
</html>
